<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MYCustomKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MYEmojist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE658BC41EDD4BE0003C636C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE658BDD1EDD4BE0003C636C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE658BE81EDD4BE0003C636C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BED91BEB1EE136220061D9F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
